<ion-header>
	<ion-toolbar>
		<ion-title>Agregar Gastos</ion-title>
		<ion-buttons start>
			<button ion-button (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="fields" (ngSubmit)="onSave()">
		<ion-item>
			<ion-label>Categoria</ion-label>
			<ion-select interface="popover" [(ngModel)]="item.Categoria" formControlName="categoria" placeholder="Seleciona categoria">
				<ion-option *ngFor="let categoria of categorias" [value]="categoria.Categoria">{{categoria.Categoria}}
				</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Concepto</ion-label>
			<ion-input type="text" [(ngModel)]="item.Nombre" formControlName="nombre" placeholder="Nombre o Concepto">
			</ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Fecha</ion-label>
			<ion-datetime [(ngModel)]="item.Fecha" displayFormat="DD/MMM/YYYY" formControlName="fecha"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label>Monto</ion-label>
			<ion-input [(ngModel)]="item.Monto" type="number" formControlName="monto"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Comentario</ion-label>
			<ion-textarea [(ngModel)]="item.Comentrio" formControlName="comentario" placeholder="comentario">
			</ion-textarea>
		</ion-item>
		<button ion-button type="submit" [disabled]="!fields.valid">Agregar</button>
	</form>
</ion-content>