<ion-header>
	<!--<ion-navbar no-border-bottom>
		<ion-title>Recibos</ion-title>
	</ion-navbar>-->

	<ion-toolbar no-border-top>
		<ion-segment [(ngModel)]="option">
			<ion-segment-button value="Mes">
				Mes
			</ion-segment-button>
			<ion-segment-button value="Meses">
				Meses
			</ion-segment-button>
			<ion-segment-button value="Casa">
				Casa
			</ion-segment-button>
			<ion-segment-button value="Folio">
				Folio
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-fab right bottom>
		<button ion-fab (click)="openModal({new: 'holas'})"><ion-icon name="add"></ion-icon></button>
	</ion-fab>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
			refreshingText="Refrescando..."></ion-refresher-content>
	</ion-refresher>
	<div [ngSwitch]="option">
		<!--Mes selection stuff-->
		<div *ngSwitchCase="'Mes'">
			<br>
			<app-mes>mes</app-mes>
		</div>
		<!--Mes selection stuff-->
		<div *ngSwitchCase="'Meses'">
			<br>
			<app-meses>meses</app-meses>
		</div>
		<!--Casa selection stuff-->
		<div *ngSwitchCase="'Casa'">
			<br>
			<app-casas>casa</app-casas>
		</div>
		<!--Folio selection stuff-->
		<div *ngSwitchCase="'Folio'">
			<br/>
			<app-folio>folio</app-folio>
		</div>
	</div>
	<ion-content>