<ion-header>
	<ion-toolbar>
		<ion-title>Agregar Gastos</ion-title>
		<ion-buttons slot="start">
			<ion-button ion-button (click)="close()">
				<ion-icon name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form [formGroup]="fields" (ngSubmit)="onSave(fields.value)">
		<ion-item>
			<ion-select label="Categoria" labelPlacement="floating" interface="popover" (ionChange)="onChange($event)"
				formControlName="categoria" placeholder="Seleciona categoria">
				<ion-select-option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria.Nombre
					}}
				</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-input label="Concepto" labelPlacement="floating" type="text" formControlName="nombre"
				placeholder="Nombre o Concepto">
			</ion-input>
		</ion-item>
		<ion-item>
			<!-- <ion-datetime displayFormat="DD/MMM/YYYY" formControlName="fecha"></ion-datetime> -->
			<ion-input label="Fecha" labelPlacement="floating" id="fecha" type="date" formControlName="fecha"></ion-input>
		</ion-item>
		<ion-item>
			<ion-input label="Monto" labelPlacement="floating" type="number" formControlName="monto" (ionChange)="onChangeMonto($event, 0)"></ion-input>
		</ion-item>
		<ion-item>
			<ion-textarea label="Comentario" labelPlacement="floating" formControlName="comentario" placeholder="comentario">
			</ion-textarea>
		</ion-item>
		<!-- Detail -->
		<div formArrayName="conceptos" margin-bottom>
			<section *ngFor="let control of conceptoForm.controls; let i = index" [formGroupName]="i" >
				<ion-item-group>
					<ion-item-divider color="light">Conceptos #{{ i + 1 }}</ion-item-divider>
					<ion-item>
						<ion-input label="Mes:" labelPlacement="floating" id="mes" type="date" maxlength="50" formControlName="mes"></ion-input>
					</ion-item>
					<ion-item>
						<ion-input label="Monto:" labelPlacement="floating"  id="monto" type="number" maxlength="50" formControlName="monto"></ion-input>
					</ion-item>
					<!-- Allow generated input field to be removed -->
					<ion-button size="small" fill="clear" color="danger"	*ngIf="conceptoForm.length > 1"
						(click)="removeInputField(i)">
						<ion-icon slot="start" name="close"></ion-icon>
						eliminar
					</ion-button>
				</ion-item-group>
			</section>
		</div>
		<!-- Allow new input field to be generated/added -->
		<ion-button size="small" fill="clear" color="primary"
			(click)="addNewInputField()">
			<ion-icon slot="start" name="add"></ion-icon>
			nuevo concepto
			</ion-button>
		<ion-button type="submit" expand="block" [disabled]="!fields.valid">Agregar</ion-button>
	</form>
</ion-content>
