<ion-header>
	<ion-toolbar>
		<ion-title>Agregar Recibos</ion-title>
		<ion-buttons start>
			<button ion-button (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="fields" (ngSubmit)="onSave(fields.value)">
		<ion-item>
			<ion-label floating>Folio</ion-label>
			<ion-input id="folio" type="number" id="folio" [(ngModel)]="item.FOLIO" formControlName="folio">
			</ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Fecha</ion-label>
			<ion-datetime id="fecha" displayFormat="DD/MMM/YYYY" [(ngModel)]="item.FECHA" formControlName="fecha"
				monthShortNames="Ene, Feb, Mar, Apr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label floating>Casa</ion-label>
			<ion-select id="casa" interface="popover" [(ngModel)]="item.CASA" formControlName="casa"
				(ionChange)="onChangeCasa($event)">
				<ion-option *ngFor="let casa of casas" [value]="casa.CASA">{{casa.CASA}}--{{casa.NOMBRE}}
				</ion-option>
        <ion-option >	</ion-option>
         <ion-option ></ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label floating>Nombre</ion-label>
			<ion-input id="nombre" type="text" [(ngModel)]="item.NOMBRE" formControlName="nombre">
			</ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Email</ion-label>
			<ion-input id="email" type="email" [(ngModel)]="item.CORREO" formControlName="email">
			</ion-input>
			<ion-checkbox id="sendEmail" item-right secondary formControlName="sendEmail" [(ngModel)]="sendEmail" color="green">
			</ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-label floating>Cantidad</ion-label>
			<ion-input id="cantidad" type="number" [(ngModel)]="item.CANTIDAD" formControlName="cantidad">
			</ion-input>
		</ion-item>
		<!-- Detail -->
		<div formArrayName="conceptos" margin-bottom>
			<section [formGroupName]="i" *ngFor="let control of fields.controls.conceptos.controls; let i = index">
				<ion-item-group>
					<ion-item-divider color="light">Conceptos #{{ i + 1 }}</ion-item-divider>
					<ion-item>
						<ion-label floating>Concepto:</ion-label>
						<ion-select interface="popover" id="concepto" formControlName="concepto">
							<ion-option *ngFor="let row of conceptos" [value]="row.CONCEPTO">
								{{row.CONCEPTO}}
							</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating>Mes:</ion-label>
						<!-- <ion-input type="date" maxlength="50" formControlName="mes"></ion-input> -->
						<ion-datetime id="mes" displayFormat="MMM.YYYY" formControlName="mes"
							monthShortNames="Ene, Feb, Mar, Apr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"></ion-datetime>
					</ion-item>
					<ion-item>
						<ion-label floating>Monto:</ion-label>
						<ion-input id="monto" type="number" maxlength="50" formControlName="monto"></ion-input>
					</ion-item>
					<!-- Allow generated input field to be removed -->
					<span
                     float-right
                     ion-button
                     icon-left
                     clear
                     *ngIf="fields.controls.conceptos.length > 1"
                     (click)="removeInputField(i)">
                     <ion-icon name="close"></ion-icon>
                     Remove
                  </span>
				</ion-item-group>
			</section>
		</div>
		<!-- Allow new input field to be generated/added -->
		<span
            ion-button
            float-left
            icon-left
            clear
            (click)="addNewInputField()">
               <ion-icon name="add"></ion-icon>
         </span>
		<button ion-button type="submit" [disabled]="!fields.valid" >Agregar</button>
	</form>
</ion-content>