<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Recibos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- FAB del usuario ahora en la esquina superior derecha -->
  <ion-fab slot="fixed"
          horizontal="end"
          vertical="top"
          [edge]="true">
  <ion-fab-button id="user-menu-fab-button">
    <app-user-avatar size="small"></app-user-avatar>
  </ion-fab-button>

  <ion-fab-list side="bottom">
      <ion-fab-button id="config-fab-button"
                      (click)="openParameter()"
                      *ngIf="role === 'admin'">
      <ion-icon name="cog"></ion-icon>
    </ion-fab-button>
      <ion-fab-button id="logout-fab-button"
                      (click)="presentActionSheet()">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  </ion-fab>
  <!-- FAB para añadir recibos (permanece en la esquina inferior derecha) -->
  <ion-fab slot="fixed"
          horizontal="end"
          vertical="bottom"
          *ngIf="role != 'reader'">
    <ion-fab-button id="add-recibo-fab-button"
                    ion-fab
                    (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h2>Recibos de Pagos y Gastos Garita 14a</h2>
  <p>
    Manejo de recibos de pagos y gastos generales
  </p>
</ion-content>

