<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Recibos
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true"> -->
<ion-content class="ion-padding">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="openParameter()" *ngIf="role === 'admin'">
        <ion-icon name="cog"></ion-icon>
        <!-- <ion-label>Configuración</ion-label> -->
      </ion-fab-button>
      <ion-fab-button (click)="presentActionSheet()">
        <ion-icon name="log-out"></ion-icon>
        <!-- <ion-label>Salir</ion-label> -->
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom" *ngIf="role != 'reader'">
    <ion-fab-button ion-fab (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-button clear block (click)="openModal()">Add</ion-button> -->
  <!-- <ion-button clear block (click)="navegationAbout()">About</ion-button> -->

  <h2>Recibos de Pagos y Gastos</h2>
  <p>
    Manejo de recibos de pagos y gastos generales
  </p>

</ion-content>
