<ion-header>
	<ion-toolbar>
		<ion-title>Agregar Recibos</ion-title>
		<ion-buttons slot="start">
			<ion-button (click)="close()">
			<ion-icon name="close" ></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form [formGroup]="fields" (ngSubmit)="onSave(fields.value)">
		<ion-item *ngIf="user?.ROLE === 'admin' || user?.ROLE === 'dev' || user?.ROLE === 'manager'" >
      <ion-select label="Prefix:" labelPlacement="floating"  interface="popover"
        id="prefijo" formControlName="prefijo" (ionChange)="onChangePrefijo($event)">
        <ion-select-option *ngFor="let row of prefijos" [value]="row">
          {{row.NOMBRE}}
        </ion-select-option>
      </ion-select>
		</ion-item>
		<ion-item>
			<ion-input label="Folio" labelPlacement="floating" id="folio" type="number" formControlName="folio">
			</ion-input>
		</ion-item>
		<ion-item>
			<ion-input label="Fecha" labelPlacement="floating" id="fecha" type="date" formControlName="fecha"></ion-input>
		</ion-item>
		<ion-item>
			<ion-select label="Casa" labelPlacement="floating"
				id="casa" interface="popover" formControlName="casa" (ionChange)="onChangeCasa($event)">
				<ion-select-option *ngFor="let casa of casas" [value]="casa">{{casa.ID}}--{{casa.NOMBRE}}
				</ion-select-option>
				<ion-select-option> </ion-select-option>
				<ion-select-option></ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-input label="Nombre" labelPlacement="floating" id="nombre" type="text" formControlName="nombre">
			</ion-input>
		</ion-item>
		<ion-item>
			<ion-input label="Email" labelPlacement="floating" id="email" type="email" formControlName="email">
			</ion-input>
			<ion-checkbox id="sendEmail" item-right secondary formControlName="sendEmail" color="green">
			</ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-input label="Cantidad" labelPlacement="floating"  id="cantidad" type="number" formControlName="cantidad">
				<ion-icon slot="start" name="cash" aria-hidden="true"></ion-icon>
			</ion-input>
		</ion-item>
		<!-- Detail -->
		<div formArrayName="conceptos" margin-bottom>
			<section *ngFor="let control of conceptoForm.controls; let i = index" [formGroupName]="i" >
				<ion-item-group>
					<ion-item-divider color="light">Conceptos #{{ i + 1 }}</ion-item-divider>
					<ion-item>
						<ion-select label="Concepto:" labelPlacement="floating"  interface="popover" id="concepto" formControlName="concepto" (ionChange)="onChangeConcepto($event, i)">
							<ion-select-option *ngFor="let row of conceptos" [value]="row.NOMBRE">
								{{row.NOMBRE}}
							</ion-select-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label floating>Mes:</ion-label>
							<!-- <ion-input type="date" maxlength="50" formControlName="mes"></ion-input> -->
							<ion-datetime id="mes" displayFormat="MMM. YYYY" formControlName="mes"
							monthShortNames="Ene, Feb, Mar, Apr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
							presentation="month-year"
						[preferWheel]="true">
						</ion-datetime>
					</ion-item>
					<ion-item>
						<ion-input label="Monto:" labelPlacement="floating"  id="monto" type="number" maxlength="50" formControlName="monto"></ion-input>
					</ion-item>
					<!-- Allow generated input field to be removed -->
					<ion-button size="small" fill="clear" color="danger" *ngIf="conceptoForm.length > 1"
                     (click)="removeInputField(i)">
                     <ion-icon name="close"></ion-icon>
                     eliminar
                  </ion-button>
				</ion-item-group>
			</section>
		</div>
		<!-- Allow new input field to be generated/added -->
		<ion-button size="small" fill="clear" color="primary"
            (click)="addNewInputField()">
            <ion-icon slot="start" name="add"></ion-icon>
			nuevo concepto
         </ion-button>
		<ion-button type="submit" expand="block" [disabled]="!fields.valid" >Agregar</ion-button>
	</form>
</ion-content>
