<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de {{title | date: 'MMM.yy' }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-list-header>
		<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	</ion-list-header>
<!-- 	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
			refreshingText="Refreshing..."></ion-refresher-content>
	</ion-refresher> -->
	<ion-item-group *ngFor="let item of items | groupBy: 'CASA'">
		<ion-item-divider color="light">
			{{ item.header }} : {{ sumMonto(item.details, item.header) | currency}}
		</ion-item-divider>
		<ion-item *ngFor="let detail of item.details">
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-note>{{ detail.FOLIO }} -</ion-note>
						<ion-note>{{ detail.MES | date: 'MMM' }}</ion-note>
					</ion-col>
					<ion-col>
						<ion-note color="primary">{{ detail.CONCEPTO.substr(0, 15) }}</ion-note>
					</ion-col>
					<ion-col>
						<ion-note color="primary">{{ detail.MONTO | currency }}</ion-note>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-item-group>
</ion-content>